body{
    font-family: 'Open Sans', sans-serif;
}
body img{
    width: 200px;
    height: auto;
}
.wrap{
    max-width: 1110px;
    margin: 0 auto;
}
header{
    background-color: #d3e9ff;
    padding-top: 31px
    
}
.flex-header{
    display: flex;
    justify-content: space-between;
}
